body{
    background-color: rgb(12,203,255);
}


.container {
    display: flex;
    flex-wrap: wrap;
    padding:5px;
    
  }

.nav{
background-color:rgb(12,203,255);
}

.nav-link:hover{
    background-color: blue;
}

.head{
    border: 2em dashed white;
	border-width: 8px;
    background-color: #F68122; 
	margin-left: auto;
    margin-right: auto;
    padding:1rem;
    border-end-end-radius: 50px 20px;
    box-shadow: 5px 5px 9px black;
    text-align: center;
    text-transform: uppercase;

}

p{
    text-align: center;
    border: 2px solid powderblue;
    margin: 50px;
    color:white;
    background-color: rgba(29,29,29, 0.9);
}

.container-1{
    display: flex;
    flex-wrap: wrap;
    padding:5px;
}

#my-image {
    float: bottom;
    max-width: 100%;
    width: 500px;
  }